doctype html
html(lang='en')
    head
        title YelpCamp
        link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
        link(rel='stylesheet' href='/stylesheets/main.css')
    body
        nav.navbar.navbar-default
            div.container-fluid
                div.navbar-header
                    a.navbar-brand(href='/') YelpCamp
                div.collapse.navbar-collapse
                    ul.nav.navbar-nav.navbar-right
                        if !currentUser
                            li
                                a(href='/login') Login
                            li
                                a(href='/register') Sign Up
                        else
                            li
                                a(href='#')= 'Signed in as: ' + currentUser.username
                            li
                                a(href='/logout') Logout
