include ../partials/header

div.container
    div.row
        h1(style='text-align: center;')= 'Edit comment for '   
        div(style='width: 30%; margin: 30px auto;')
            form(action='/campgrounds/' + campgroundId + '/comments/' + comment._id + '?_method=PUT' method='POST')
                div.form-group
                    input.form-control(type='text' value=comment.text name='comment[text]')
                div.form-group
                    button.btn.btn-lg.btn-primary.btn-block Submit
            a(href='/campgrounds/' + campgroundId) Go Back